[Desktop Entry]
Type=Application
Exec=frd
Icon=frd
Terminal=false
MimeType=application/metalink+xml;application/x-bittorrent;
Name=FreeRapid
GenericName=Download Manager
Categories=Java;Network;FileTransfer;
X-DBUS-ServiceType=Unique
X-DocPath=freerapid/index.html
